bin/dist
node_modules
tags
**/*.js.map
**/*.metadata.json

/hooks
/platforms

.tscache
.nvm
.vscode
.DS_Store
npm-debug.log
nativescript-angular*.tgz
package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
